html {
    background: linear-gradient(15deg, #3cc7d1, #9633d8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
}

body {

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hotkeys {
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.hotkey__items {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;

}

.hotkey__button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotkey__button-item {
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: .3s all ease;
}

.hotkey__button-item:hover {
    background: #fff;
    color: #000;
}
